body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

nav {
    margin: 20px 0;
    /* make so lists in nav do not show bullet point */

}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
main {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* about handles */
.flavor-list {
    list-style-type: none;
    padding: 0;
}